*{
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	margin-bottom: 40px;
}

h1{
	font-size: 30px;
}

h2{
	margin-top: 30px;
}
p{
	margin: 10px 0;
}

img{
	width: 300px;
}
.barred{
	text-decoration: line-through;
}